---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
{% capture style_css %}
{% include css/reset.scss %}
{% include css/chaosclock/style.scss %}
{% include css/chaosclock/discordian.scss %}
{% include css/chaosclock/standalone.scss %}
{% endcapture %}
{{ style_css | scssify }}
    </style>

</head>
<body>

<div class="container">

{% include discordian_calendar.html %}

</div>

<script type="text/javascript">
{% include js/jquery.min.js %}
</script>
<script type="text/javascript">
{% include js/jquery.scrollTo.min.js %}
</script>
<script type="text/javascript">
{% include js/jquery.localScroll.min.js %}
</script>
<script type="text/javascript">
{% include js/bootstrap-custom.min.js %}
</script>
<script type="text/javascript">
{% include js/discordian.js %}
</script>

</body>
</html>
