.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: #1f1f1f;
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
    color: #ffffff;
}

.wp-block-navigation:not(.has-text-color) .wp-block-navigation__submenu-container {
    color: #ffffff;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    background-color: #1f1f1f;
    border: 1px solid rgba(0,0,0,.15);
}

.wp-site-blocks > main.wp-block-group {
    min-height: calc(100vh - 20.5rem);
}

hr.section-separator {
    display: block;
    height: 1px;
    padding: 0;
    margin-bottom: -50px !important;
    margin-top: 50px !important;
    position: relative;
    border: none;
    background-color: #303030;
    background-image: -webkit-linear-gradient(left, #1e1e1e, #888 50%, #1e1e1e);
    background-image: -o-linear-gradient(left, #1e1e1e, #888 50%, #1e1e1e);
    background-image: linear-gradient(to right, #1e1e1e, #888 50%, #1e1e1e);
    background-repeat: no-repeat;
}

.z-index-1 {
    z-index: 1;
    position: relative;
}
