---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="iOS,iPhone,iPad,App,Apps,Jurbly,Chaos Clock,Parsnip">
  <meta name="description" content="Because everyone deserves a special treat">
  <meta name="author" content="Special Treat, LLC">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Special Treat</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-title" content="Special Treat">
  <meta name="application-name" content="Special Treat">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#aa0000">
  <meta name="theme-color" content="#920000">

  <style type="text/css">
{% capture style_css %}
{% include css/style.scss %}
{% endcapture %}
{{ style_css | scssify }}
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/latest/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/latest/respond.min.js"></script>
  <![endif]-->
</head>

<body data-offset="50" data-spy="scroll" data-target="#top-navbar">

{% capture navbar_links %}
<li><a class="smoothScroll" href="#jurbly">Jurbly</a></li>
<li><a class="smoothScroll" href="#chaosclock">Chaos Clock</a></li>
<li><a class="smoothScroll" href="#parsnip">Parsnip</a></li>
<li><a class="smoothScroll" href="#privacy">Privacy</a></li>
<li><a class="smoothScroll" href="#contact">Contact</a></li>
{% endcapture %}
{% include _navbar.html navbar_brand_link="#home" navbar_links=navbar_links %}

<div id="home" name="home" class="section section-odd">
  <div class="container">
    <div class="text-center">
      <span>
        <h1>
          <span class="accessibility-text">Special Treat</span>
          <div id="company-title" class="background-image"></div>
        </h1>
      </span>
      <h3>Because everyone deserves a special treat!</h3>
    </div>
  </div>
</div>


<div id="jurbly" name="jurbly" class="section section-even showcase">
  <div class="container">
    <div class="text-center">
      <a href="/Jurbly/" aria-label="Jurbly website">
        <div id="jurbly-logo" class="logo background-image"></div>
        <h2>Jurbly</h2>
      </a>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6 description">
        <p>
          An incredibly simple, insanely addictive game of skill. Using
          a touch-based interface, players must match colors and collect
          Jurpees to win prizes.
        </p>
        <p>
          Features cloud synced game state and iOS Game Center integration.
        </p>
        <p>
          With music by <a href="https://soundcloud.com/megaenx">MegaEnx</a>.
        </p>
        <p><a href="/Jurbly/">Jurbly &#187;</a></p>
      </div>
      <div class="col-sm-7 col-md-6 text-center text-md-left">
        <div id="jurbly-screenshot" class="background-image"><div class="spacer"></div></div>
      </div>
    </div>
  </div>
</div>


<div id="chaosclock" name="chaosclock" class="section section-odd showcase">
  <div class="container">
    <div class="text-center">
      <a href="/ChaosClock/" aria-label="Chaos Clock website">
        <div id="chaosclock-logo" class="logo background-image"></div>
        <h2>Chaos Clock</h2>
      </a>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6 description">
        <p>
          Chaos Clock is an implementation of the Discordian
          <a href="/ChaosClock/#calendar">Date</a>
          &amp;
          <a href="/ChaosClock/#clock">Time</a> system.
        </p>
        <p>
          Order? Disorder? Mere illusions imposed on a chaotic universe by
          the human mind. Today's date when viewed through one calendar
          might be completely different when viewed through another
          calendar. The True Date is irrelevant to calendars entirely.
        </p>
        <p>
          The user experience in Chaos Clock is designed to convey maximal
          information with minimal color. The interface is presented in
          stark black and white.
        </p>
        <p><a href="/ChaosClock/">Chaos Clock &#187;</a></p>
      </div>
      <div class="col-sm-7 col-md-6 text-center text-md-left">
        <div id="chaosclock-screenshot" class="background-image"><div class="spacer"></div></div>
      </div>
    </div>
  </div>
</div>


<div id="parsnip" name="parsnip" class="section section-even showcase">
  <div class="container">
    <div class="text-center">
      <a href="/Parsnip/" aria-label="Parsnip website">
        <div id="parsnip-logo" class="logo background-image"></div>
        <h2>Parsnip</h2>
      </a>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-6 description">
        <p>
          Parsnip uses your iPhone's camera to perform optical character
          recognition <em class="subtle">(OCR)</em> on any printed text.
          Parsnip was created as an effort to wrap the open source
          <a href="https://github.com/tesseract-ocr/tesseract">Tesseract library</a>
          in an elegant user interface.
        </p>
        <p>
          We are proud to <a href="https://github.com/SpecialTreat/Parsnip">contribute Parsnip</a>
          back to the community under a permissive open source software license.
        </p>
        <p><a href="/Parsnip/">Parsnip &#187;</a></p>
      </div>
      <div class="col-sm-7 col-md-6 text-center text-md-left">
        <div id="parsnip-screenshot" class="background-image"><div class="spacer"></div></div>
      </div>
    </div>
  </div>
</div>

{% include _privacy.html section_class="section-odd" %}
{% include _contact.html section_class="section-even" %}
{% include _footer.html %}

<script type="text/javascript">
{% include js/jquery.min.js %}
</script>
<script type="text/javascript">
{% include js/jquery.scrollTo.min.js %}
</script>
<script type="text/javascript">
{% include js/jquery.localScroll.min.js %}
</script>
<script type="text/javascript">
{% include js/bootstrap-custom.min.js %}
</script>
<script type="text/javascript">
{% include js/main.js %}
</script>

</body>
</html>
