<div id="contact" name="contact" class="section {{ include.section_class }}">
  <div class="container">
    <div class="text-center">
      <h1>Contact Us</h1>
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-5 col-md-4 text-center">
        <a href="mailto:contact@special-treat.com" aria-label="Email">
          <div id="email-logo" class="logo background-image"></div>
          <p class="text-center">contact@special-treat.com</p>
        </a>
      </div>
      <div class="col-sm-3 col-md-4 text-center">
        <a href="https://twitter.com/TheSpecialTreat" aria-label="Twitter">
          <div id="twitter-logo" class="logo background-image"></div>
          <p class="text-center">@TheSpecialTreat</p>
        </a>
      </div>
      <div class="col-sm-4 col-md-4 text-center">
        <a href="https://github.com/SpecialTreat" aria-label="GitHub">
          <div id="github-logo" class="logo background-image"></div>
          <p class="text-center">SpecialTreat@GitHub</p>
        </a>
      </div>
    </div>
  </div>
</div>
