<div class="discordian-calendar">

<h1 class="title">Discordian Calendar</h1>

<p>
The Discordian calendar is an alternative date system specified in the
<a href="http://en.wikipedia.org/wiki/Principia_Discordia">Principia Discordia</a>.
</p>
<p>
The Discordian calendar is aligned with the Gregorian calendar, and the
new year begins on January 1. The Discordian year 1 YOLD
<i class="subtle">(Year of Our Lady of Discord)</i> corresponds with 1166 BC
in the Gregorian calendar – thus 2016 would be 3182 YOLD.
</p>

<div class="text-center">
<button
    type="button"
    class="btn btn-danger btn-lg"
    data-toggle="modal"
    data-target="#gregorian-to-discordian-calendar-modal">
<span class="glyphicon glyphicon-calendar calendar-icon"></span> View Gregorian to Discordian Calendar
</button>
</div>

<h2>Seasons</h2>
<p class="subtle">There are 5 seasons per year, each with 73 days.</p>
<ol class="season-list">
    <li><span class="season-name">Chaos</span> - Patron Apostle Hung Mung</li>
    <li><span class="season-name">Discord</span> - Patron Apostle Dr. Van Van Mojo</li>
    <li><span class="season-name">Confusion</span> - Patron Apostle Sri Syadasti</li>
    <li><span class="season-name">Bureaucracy</span> - Patron Apostle Zarathud</li>
    <li><span class="season-name">The Aftermath</span> - Patron Apostle The Elder Malaclypse</li>
</ol>

<h2>Days of the Week</h2>
<p class="subtle">There are 73 weeks per year, each with 5 days.</p>
<p class="subtle">
    Named for the five Basic Elements:
    <i>sweet</i>, <i>boom</i>, <i>pungent</i>, <i>prickle</i>, and <i>orange</i>
</p>
<ol class="day-of-week-list">
    <li><span class="day-name">Sweetmorn</span></li>
    <li><span class="day-name">Boomtime</span></li>
    <li><span class="day-name">Pungenday</span></li>
    <li><span class="day-name">Prickle-Prickle</span></li>
    <li><span class="day-name">Setting Orange</span></li>
</ol>

<h2>Holydays</h2>

<div class="row">
    <div class="col-sm-6 holydays-apostle">
        <h3>Apostle Holydays</h3>
        <p class="subtle">5th day of each Season</p>
        <ol class="holyday-list">
            <li><span class="holyday-name">Mungday</span> - Chaos 5</li>
            <li><span class="holyday-name">Mojoday</span> - Discord 5</li>
            <li><span class="holyday-name">Syaday</span> - Confusion 5</li>
            <li><span class="holyday-name">Zaraday</span> - Bureaucracy 5</li>
            <li><span class="holyday-name">Maladay</span> - The Aftermath 5</li>
        </ol>
    </div>
    <div class="col-sm-6 holydays-season">
        <h3>Season Holydays</h3>
        <p class="subtle">50th day of each Season</p>
        <ol class="holyday-list">
            <li><span class="holyday-name">Chaoflux</span> - Chaos 50</li>
            <li><span class="holyday-name">Discoflux</span> - Discord 50</li>
            <li><span class="holyday-name">Confuflux</span> - Confusion 50</li>
            <li><span class="holyday-name">Bureflux</span> - Bureaucracy 50</li>
            <li><span class="holyday-name">Afflux</span> - The Aftermath 50</li>
        </ol>
    </div>
</div>
<div class="holydays-sttibsday">
    <h3>St. Tib's Day</h3>
    <p>Occurs on leap years <i class="subtle">(once every 4 years, 1 + 4 = 5)</i>
    and is inserted between the 59th and 60th days of the Season of Chaos</p>
</div>

<div
    id="gregorian-to-discordian-calendar-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="gregorian-to-discordian-calendar-title">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="gregorian-to-discordian-calendar-title" class="modal-title">
            <span class="glyphicon glyphicon-calendar calendar-icon"></span> Gregorian to Discordian Calendar
        </h4>
      </div>
      <div class="modal-body">

<table class="gregorian-to-discordian-calendar" role="presentation">
<thead>
    <tr>
        <td></td>
        <th colspan="5"><h2>Gregorian</h2></th>
        <td class="month-season-divider">&nbsp;</td>
        <th colspan="5"><h2>Discordian</h2></th>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="5"></td>
        <td class="month-season-divider">&nbsp;</td>
        <th><h3 data-toggle="tooltip" title="Sweetmorn">SM</h3></th>
        <th><h3 data-toggle="tooltip" title="Boomtime">BT</h3></th>
        <th><h3 data-toggle="tooltip" title="Pungenday">PD</h3></th>
        <th><h3 data-toggle="tooltip" title="Prickle-Prickle">PP</h3></th>
        <th><h3 data-toggle="tooltip" title="Setting Orange">SO</h3></th>
        <td></td>
    </tr>
</thead>
<tbody>
{% assign stripe = "even,odd" | split:"," %}
{% assign dayOfYear = 0 %}

{% assign isSecondRowOfSeason = 0 %}
{% assign dayOfSeason = 0 %}
{% assign seasons = "Chaos,Discord,Confusion,Bureaucracy,The Aftermath" | split:"," %}
{% assign seasonClass = "chs,dsc,cfn,bcy,afm" | split:"," %}
{% assign seasonIndex = 0 %}
{% assign daysPerSeason = 73 %}

{% assign dayOfMonth = 0 %}
{% assign months = "January,February,March,April,May,June,July,August,September,October,November,December" | split:"," %}
{% assign monthClass = "jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec" | split:"," %}
{% assign monthIndex = 0 %}
{% assign daysPerMonth = 31 %}

{% for weekOfYear in (0..72) %}
{% assign daysSoFar = 5 | times:weekOfYear %}
{% assign evenOdd = weekOfYear | modulo:2 %}
<tr class="week week-{{ stripe[evenOdd] }}">
    <td class="month month-title">
        {% assign testDayOfMonth = dayOfMonth | plus:5 %}
        {% if testDayOfMonth <= 5 %}
            <h3>{{ months[monthIndex] }}</h3>
        {% elsif testDayOfMonth > daysPerMonth %}
            {% assign monthIndexPlus = monthIndex | plus:1 %}
            <h3>{{ months[monthIndexPlus] }}</h3>
        {% endif %}
    </td>

    {% for dayOfWeek in (1..5) %}
        {% assign dayOfYear = daysSoFar | plus:dayOfWeek %}
        {% assign dayOfMonth = dayOfMonth | plus:1 %}
        {% assign evenOdd = dayOfWeek | modulo:2 %}
        {% assign monthEvenOdd = monthIndex | modulo:2 %}
        <td class="
            month
            month-{{ monthClass[monthIndex] }}
            month-{{ stripe[monthEvenOdd] }}
            day
            day-{{ stripe[evenOdd] }}
            day-{{ dayOfYear }}"
            data-day="{{ dayOfYear }}"
            data-toggle="tooltip"
            title="{{ months[monthIndex] }} {{ dayOfMonth }}">

            <span class="day-number">{{ dayOfMonth }}</span>
        </td>
        {% assign dayOfMonth = dayOfMonth | modulo:daysPerMonth %}
        {% if dayOfMonth == 0 %}
            {% assign monthIndex = monthIndex | plus:1 %}
            {% case monthIndex %}
            {% when 0 %}
                {% assign daysPerMonth = 31 %}
            {% when 1 %}
                {% assign daysPerMonth = 28 %}
            {% when 2 %}
                {% assign daysPerMonth = 31 %}
            {% when 3 %}
                {% assign daysPerMonth = 30 %}
            {% when 4 %}
                {% assign daysPerMonth = 31 %}
            {% when 5 %}
                {% assign daysPerMonth = 30 %}
            {% when 6 %}
                {% assign daysPerMonth = 31 %}
            {% when 7 %}
                {% assign daysPerMonth = 31 %}
            {% when 8 %}
                {% assign daysPerMonth = 30 %}
            {% when 9 %}
                {% assign daysPerMonth = 31 %}
            {% when 10 %}
                {% assign daysPerMonth = 30 %}
            {% when 11 %}
                {% assign daysPerMonth = 31 %}
            {% endcase %}
        {% endif %}
    {% endfor %}

    <td class="month-season-divider">&nbsp;</td>

    {% for dayOfWeek in (1..5) %}
        {% assign dayOfYear = daysSoFar | plus:dayOfWeek %}
        {% assign dayOfSeason = dayOfSeason | plus:1 %}
        {% assign evenOdd = dayOfWeek | modulo:2 %}
        {% assign seasonEvenOdd = seasonIndex | modulo:2 %}
        <td class="
            season
            season-{{ seasonClass[seasonIndex] }}
            season-{{ stripe[seasonEvenOdd] }}
            day
            day-{{ stripe[evenOdd] }}
            day-{{ dayOfYear }}"
            data-day="{{ dayOfYear }}"
            data-toggle="tooltip"
            title="{{ seasons[seasonIndex] }} {{ dayOfSeason }}">

            <span class="day-number">{{ dayOfSeason }}</span>
        </td>
        {% assign dayOfSeason = dayOfSeason | modulo:daysPerSeason %}
        {% if dayOfSeason == 0 %}
            {% assign seasonIndex = seasonIndex | plus:1 %}
        {% endif %}
    {% endfor %}
    {% if dayOfSeason <= 5 and seasonIndex < 5 %}
        <td class="season season-title" rowspan="2">
            {% if seasonIndex == 4 %}
                <h3>The<br>Aftermath</h3>
            {% else %}
                <h3>{{ seasons[seasonIndex] }}</h3>
            {% endif %}
        </td>
        {% assign isSecondRowOfSeason = 1 %}
    {% else %}
        {% if isSecondRowOfSeason %}
            {% assign isSecondRowOfSeason = 0 %}
        {% else %}
            <td class="season season-title"></td>
        {% endif %}
    {% endif %}
</tr>
{% endfor %}
</tbody>
</table>

      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>References</h2>
<ol class="references">
    <li>
        The original calendar can be found on
        <a href="http://www.principiadiscordia.com/book/41.php">page 34</a>
        of the
        <a href="http://principiadiscordia.com">Principia Discordia</a>
    </li>
    <li>
        Wikipedia's entry on the
        <a href="http://en.wikipedia.org/wiki/Principia_Discordia">Principia Discordia</a>
    </li>
    <li>
        Wikipedia's entry on the
        <a href="http://en.wikipedia.org/wiki/Discordian_calendar">Discordian Calendar</a>
    </li>
    <li>
        Wikipedia's entry on the
        <a href="http://en.wikipedia.org/wiki/Gregorian_calendar">Gregorian Calendar</a>
    </li>
</ol>

</div>
