<div class="discordian-clock">

<h1 class="title">Discordian Clock</h1>

<p>
The Discordian clock is an alternative time system derived from the
<a href="http://www.tranglos.com/fnord/klock.html">Erisian Klock specification</a>.
</p>
<p>
You are not supposed to understand this.
</p>

<div class="text-center">
<button
    type="button"
    class="btn btn-primary btn-lg"
    data-toggle="modal"
    data-target="#discordian-to-std-scale-modal">
<span class="glyphicon glyphicon-time"></span> View Standard to Discordian Time
</button>
</div>

<h2>Hour of THUD</h2>
<p class="subtle">The first and longest hour of the day is called the Hour of THUD (THUD-hour)</p>
<ul class="thud-time-list">
    <li>The THUD-hour is divided into 5 THUD-minutes</li>
    <li>Each THUD-minute is divided into 23 THUD-seconds</li>
</ul>

<h2>Non-THUD Time</h2>
<p class="subtle">The remaining portion of the day is divided equally into 265 Discordian hours (D-hours)</p>
<ul class="non-thud-time-list">
    <li>Each D-hour is divided into 5 Discordian minutes (D-minutes)</li>
    <li>Each D-minute is divided into 5 Discordian seconds (D-seconds)</li>
</ul>

<h2>Universal vs Local</h2>
<p>The first flavor of Discordian Time <i class="subtle">(Universal)</i>
specifies that each day begins at 5:23 AM Greenwich Mean Time, regardless
of the local time zone.</p>
<p>The second flavor of Discordian Time <i class="subtle">(Local)</i>
specifies that each day begins at 12:00 AM according to the local
time zone.</p>

<h2>Discordian Unit Conversion</h2>
<table class="discordian-to-std-units" role="presentation">
<tbody>
    <tr>
        <td class="discordian-units">THUD-hour</td>
        <td class="discordian-std-divider"> = </td>
        <td>115 standard minutes</td>
    </tr>
    <tr>
        <td class="discordian-units">THUD-minute</td>
        <td class="discordian-std-divider"> = </td>
        <td>23 standard minutes</td>
    </tr>
    <tr>
        <td class="discordian-units">THUD-second</td>
        <td class="discordian-std-divider"> = </td>
        <td>60 standard seconds, or 1 standard minute</td>
    </tr>
    <tr>
        <td class="discordian-units">D-hour</td>
        <td class="discordian-std-divider"> = </td>
        <td>5 standard minutes</td>
    </tr>
    <tr>
        <td class="discordian-units">D-minute</td>
        <td class="discordian-std-divider"> = </td>
        <td>1 standard minute</td>
    </tr>
    <tr>
        <td class="discordian-units">D-second</td>
        <td class="discordian-std-divider"> = </td>
        <td>12 standard seconds</td>
    </tr>
</tbody>
</table>

<div
    id="discordian-to-std-scale-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="discordian-to-std-scale-title">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="discordian-to-std-scale-title" class="modal-title">
            <span class="glyphicon glyphicon-time time-icon"></span> Standard to Discordian Time
        </h4>
      </div>
      <div class="modal-body">

<table class="discordian-to-std-scale" role="presentation">
<thead>
    <tr>
        <th><h2 class="std-time-title">Standard</h2></th>
        <td></td>
        <th><h2 class="discordian-time-title">Discordian</h2></th>
    </tr>
</thead>
<tbody>
{% assign lastHour = 0 %}
{% assign ampm = "AM" %}
{% assign dHour = 0 %}
{% assign stdHour = 0 %}
{% assign stdMinute = 0 %}
{% for thudMinute in (0..4) %}
    {% if stdHour == 0 %}{% assign strStdHour = "12" %}{% else %}{% assign strStdHour = stdHour %}{% endif %}
    {% if stdMinute < 10 %}{% assign strStdMinute = "0" | append:stdMinute %}{% else %}{%assign strStdMinute = stdMinute %}{% endif %}
    {% assign strStdTime = strStdHour | append:":" | append:strStdMinute | append:" " | append:ampm %}
    {% assign strDTime = dHour | append:":" | append:thudMinute | append:":00" %}
    <tr class="thud-minute">
        <td class="std-time" rowspan="23">
            {% if stdHour == 0 %}12{% else %}{{ stdHour }}{% endif %}:{% if stdMinute < 10 %}0{% endif %}{{ stdMinute }} {{ ampm }}
        </td>
        <td class="discordian-std-divider" data-toggle="tooltip" title="{{ strStdTime }} = {{ strDTime }} THUD"></td>
        <td class="discordian-time" rowspan="23">
            {{ dHour }}:{{ thudMinute }} THUD
        </td>
    </tr>
    {% assign stdMinute = stdMinute | plus:1 %}
    {% for minute in (1..22) %}
        {% if minute < 10 %}{% assign strMinute = "0" | append:minute %}{% else %}{% assign strMinute = minute %}{% endif %}
        {% if stdHour == 0 %}{% assign strStdHour = "12" %}{% else %}{% assign strStdHour = stdHour %}{% endif %}
        {% if stdMinute < 10 %}{% assign strStdMinute = "0" | append:stdMinute %}{% else %}{%assign strStdMinute = stdMinute %}{% endif %}
        {% assign strStdTime = strStdHour | append:":" | append:strStdMinute | append:" " | append:ampm %}
        {% assign strDTime = dHour | append:":" | append:thudMinute | append:":" | append:strMinute %}
        <tr class="minute">
            <td class="discordian-std-divider" data-toggle="tooltip" title="{{ strStdTime }} = {{ strDTime }} THUD"></td>
        </tr>
        {% assign stdMinute = stdMinute | plus:1 %}
        {% if stdMinute >= 60 %}
            {% assign lastHour = stdHour %}
            {% assign stdHour = stdHour | plus:1 %}
        {% endif %}
        {% assign stdMinute = stdMinute | modulo:60 %}
    {% endfor %}
{% endfor %}
{% for totalMinutes in (0..1324) %}
    {% assign dMinute = totalMinutes | modulo:5 %}
    {% if dMinute == 0 %}{% assign dHour = dHour | plus:1 %}{% endif %}
    {% if stdMinute == 0 %}
        {% assign stdHour = stdHour | plus:1 | modulo:12 %}
        {% if stdHour == 0 %}{% assign ampm = "PM" %}{% endif %}
    {% endif %}
    {% if dMinute == 0 %}
        {% if stdHour == 0 %}{% assign strStdHour = "12" %}{% else %}{% assign strStdHour = stdHour %}{% endif %}
        {% if stdMinute < 10 %}{% assign strStdMinute = "0" | append:stdMinute %}{% else %}{%assign strStdMinute = stdMinute %}{% endif %}
        {% assign strStdTime = strStdHour | append:":" | append:strStdMinute | append:" " | append:ampm %}
        {% assign strDTime = dHour | append:":" | append:dMinute %}
        {% if stdMinute == 0 %}
            {% assign lastHour = stdHour %}
            <tr class="minute minute-on-the-hour">
                <td class="std-time" {% if stdMinute == 0 %}rowspan="12"{% endif %}>
                    {{ strStdTime }}
                </td>
                <td class="discordian-std-divider" data-toggle="tooltip" title="{{ strStdTime }} = {{ strDTime }}"></td>
                <td class="discordian-time" {% if stdMinute == 0 %}rowspan="12"{% endif %}>
                    {{ strDTime }}
                </td>
            </tr>
        {% else %}
            <tr class="minute">
                {% if lastHour != stdHour %}<td></td>{% endif %}
                <td class="discordian-std-divider" data-toggle="tooltip" title="{{ strStdTime }} = {{ strDTime }}"></td>
                {% if lastHour != stdHour %}<td></td>{% endif %}
            </tr>
        {% endif %}
    {% endif %}
    {% assign stdMinute = stdMinute | plus:1 | modulo:60 %}
{% endfor %}
        <tr class="minute minute-on-the-hour minute-final">
            <td class="std-time">11:59 PM</td>
            <td class="discordian-std-divider" data-toggle="tooltip" title="11:59 PM – 265:4"></td>
            <td class="discordian-time">265:4</td>
        </tr>
</tbody>
</table>

      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h2>References</h2>
<ol class="references">
    <li>
        The original Discordian time specification can be found at
        <a href="http://www.tranglos.com/fnord/klock.html">Tranglos</a>
    </li>
</ol>

</div>
