
@import "variables";
@import "bootstrap";
@import "mixins";


//-------------------------------------------------------------
// Global styles
//-------------------------------------------------------------

html,
body {
    font-family: $font-family-sans-serif;
    font-weight: 300;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    position: relative;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;

    margin: 0;
    padding: 0;
}

em, i {
    font-style: italic;
}

a {
    text-decoration: none;

    &:hover, &:focus {

        .background-image {
            @include opacity(0.8);
        }
    }
}

.subtle {
    color: $subtle-color;
}

.accessibility-text {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

.clear {
    clear: both;
}


//-------------------------------------------------------------
// Background images
//-------------------------------------------------------------

.background-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.section-image {
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% auto;
    @include background-size(cover);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    min-height: 100%;
    min-width: 100%;
}

.spacer {
    display: block;
    height: 0;
}

@each $w, $h, $padding in (1, 1, 100%),
                          (1, 2, 200%),
                          (2, 1, 50%),
                          (3, 4, 133%),
                          (4, 1, 25%),
                          (4, 3, 75%),
                          (5, 6, 120%),
                          (6, 7, 116.67%) {
    .ratio-#{$w}x#{$h} .spacer, .ratio-#{$w}x#{$h} > .spacer {
        padding-top: #{$padding};
    }
}


//-------------------------------------------------------------
// Sections
//-------------------------------------------------------------

.section {
    padding: 60px 0;

    h1, h2 {
        margin: 0 0 50px;
    }

    hr {
        display: block;
        height: 1px;
        margin: 50px auto;
        padding: 0;
        background-color: #aaa;
        @include gradient-horizontal-three-colors(#fff, #aaa, 50%, #fff);
        width: 50%;
        position: relative;
        border: none;
    }

    p {
        margin: 0 0 25px;
    }
}

.section-odd {
    background-color: #fff;

    hr {
        background-color: #aaa;
        @include gradient-horizontal-three-colors(#fff, #aaa, 50%, #fff);
    }
}

.section-even {
    background-color: #f5f5f5;

    hr {
        background-color: #a0a0a0;
        @include gradient-horizontal-three-colors(#f5f5f5, #a0a0a0, 50%, #f5f5f5);
    }
}

$sizes: ('xs', 'sm', 'md', 'lg');
$media-sizes: (
    xs: $screen-xs-min,
    sm: $screen-sm-min,
    md: $screen-md-min,
    lg: $screen-lg-min
);

@each $size in $sizes {

    @media (min-width: map-get($media-sizes, $size)) {
        .col-#{$size}-left {
            float: left;
            & > * { text-align: right; }
        }

        .col-#{$size}-right {
            float: right;
            & > * { text-align: left; }
        }

        .#{$size}-pull-right { float: right; }
        .#{$size}-pull-left { float: left; }
        .text-#{$size}-left { text-align: left; }
        .text-#{$size}-right { text-align: right; }
        .text-#{$size}-center { text-align: center; }
        .text-#{$size}-justify { text-align: justify; }
    }
}


//-------------------------------------------------------------
// Common
//-------------------------------------------------------------

$badge_height: 40;
$badge_width: 135;

$iphone_screen_height: 568;
$iphone_screen_width: 320;
$iphone_bezel_height: 93;
$iphone_bezel_width: 24;
$iphone_height: $iphone_screen_height + ($iphone_bezel_height * 2); // 754;
$iphone_width: $iphone_screen_width + ($iphone_bezel_width * 2); // 368;

.iphone {
    position: relative;
    z-index: 100;

    height: auto;
    width: 100%;

    > .spacer {
        padding-top: 204.8913%;
    }

    .iphone-screen {
        position: absolute;
        overflow: hidden;
        z-index: 101;

        cursor: pointer;

        height: ($iphone_screen_height / $iphone_height) * 100%;
        width: ($iphone_screen_width / $iphone_width) * 100%;

        top: ($iphone_bezel_height / $iphone_height) * 100%;
        left: ($iphone_bezel_width / $iphone_width) * 100%;

        .demovideo {
            height: 100%;
            width: 100%;
        }
    }

    @media (min-width: $screen-xs-min) {
        height: #{$iphone_height}px;
        width: #{$iphone_width}px;

        .iphone-screen {
            height: #{$iphone_screen_height}px;
            width: #{$iphone_screen_width}px;

            top: #{$iphone_bezel_height}px;
            left: #{$iphone_bezel_width}px;

            .demovideo {
                height: #{$iphone_screen_height}px;
                width: #{$iphone_screen_width}px;
            }
        }
    }
}

.badge-link, .appstore-badge, .github-badge {
    display: inline-block;
    width: #{$badge_width}px;
    height: #{$badge_height}px;
}


//-------------------------------------------------------------
// Navbar
//-------------------------------------------------------------

$company_brand_height: 42px;
$company_brand_width: 174px;

.navbar-nav {
    > li > a {
        color: $navbar-default-link-color;

        &:hover,
        &:focus {
            @include text-shadow(0 0 4px #fff);
        }
    }
}

.navbar-default {

    border-width: 0 0 0 0;
    border: 0 solid transparent;

    background-color: $navbar_transparent;

    @include text-shadow(1px 1px 0 $text-shadow-color);


    .navbar-toggle:hover, .navbar-toggle:focus {

        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-hover-bg;
        }
    }

    .navbar-collapse {
        border-width: 0 0 0 0;
        border: 0 solid transparent;
        box-shadow: none;
    }

    .navbar-brand {
        font-weight: 400;

        position: relative;
        padding: (($navbar-height - $company_brand_height) / 2) 15px;

        visibility: hidden;
        @include opacity(0);
        @include transition(all 0.3s ease 0s);

        #company-brand {
            width: $company_brand_width;
            height: $company_brand_height;
        }
    }

    &.opaque {
        background-color: $navbar_opaque;
        @include box-shadow(0 0 32px $box_shadow_color);

        .navbar-brand {
            visibility: visible;
            @include opacity(1);
        }
    }

    &.expanded {
        @media (max-width: $screen-sm-max) {
            background-color: $navbar_opaque;
            @include box-shadow(0 0 32px $box_shadow_color);
        }

        .navbar-brand {
            visibility: visible;
            @include opacity(1);
        }
    }

    .navbar-nav > .active > a {
        &, &:hover, &:focus {
            background-color: transparent;
        }
    }

    @include transition(all 0.3s ease 0s);
}


//-------------------------------------------------------------
// Home
//-------------------------------------------------------------

#home {
    color: #fff;
    padding: 120px 0;

    @include gradient-radial($company_primary, $company_primary_dark);

    .container {

        span {
            display: inline-block;

            max-width: 96%;
            width: 600px;
            @media (min-width: $screen-sm-min) {
                max-width: 100%;
            }

            h1 {
                width: 100%;

                #company-title {
                    max-width: 100%;
                    height: 180px;
                    width: 600px;

                    background-position: 50% 75%;
                }
            }
        }
    }
}


//-------------------------------------------------------------
// About
//-------------------------------------------------------------

#about {

    .logo {
        height: 100px;
        width: 100px;
        margin: 25px 0;
    }
}


//-------------------------------------------------------------
// Showcase
//-------------------------------------------------------------

.showcase {

    .logo {
        height: 80px;
        width: 80px;
        margin: 25px 0 10px;
    }

    a {
        display: inline-block;

        h2 {
            color: $text-color;
            font-size: 40px;
        }

        &:hover, &:focus {
            h2 {
                color: $link-color;
            }
        }
    }

    .description {

    }

    #jurbly-screenshot, #chaosclock-screenshot, #parsnip-screenshot {
        height: auto;
        width: 320px;
        max-width: 100%;

        > .spacer {
            padding-top: 177.5%;
        }

        @media (min-width: $screen-xs-min) {
            width: 320px;
            height: 568px;
        }

        margin: 0 0 50px;

        @include box-shadow(0 4px 16px $box_shadow_color);
    }
}


//-------------------------------------------------------------
// Privacy
//-------------------------------------------------------------

#privacy {
    padding: 120px 0;
}


//-------------------------------------------------------------
// Contact
//-------------------------------------------------------------

#contact {
    padding: 120px 0;

    a {
        display: inline-block;
    }

    .logo {
        height: 40px;
        width: 40px;
        margin: 0 0 10px;
    }
}


//-------------------------------------------------------------
// Footer
//-------------------------------------------------------------

#footer {
    background-color: #303030;
    color: #909090;

    padding: 20px 0;

    font-size: 0.85em;

    @media (min-width: $screen-xs-min) {
        font-size: 1em;
    }
}


//-------------------------------------------------------------
// Retina images
//-------------------------------------------------------------

.iphone{background-image:url(#{$images_path}/iphone.png)}
.appstore-badge{background-image:url(#{$images_path}/appstore_badge.png)}
.github-badge{background-image:url(#{$images_path}/github_badge.png)}
#company-brand{background-image:url(#{$images_path}/company_brand_shadow.png)}
#company-title{background-image:url(#{$images_path}/company_title.png)}
#jurbly-logo{background-image:url(#{$images_path}/jurbly_icon.png)}
#jurbly-screenshot{background-image:url(#{$images_path}/jurbly_screenshot.jpg)}
#chaosclock-logo{background-image:url(#{$images_path}/chaosclock_icon.png)}
#chaosclock-screenshot{background-image:url(#{$images_path}/chaosclock_screenshot.jpg)}
#parsnip-logo{background-image:url(#{$images_path}/parsnip_icon.png)}
#parsnip-screenshot{background-image:url(#{$images_path}/parsnip_screenshot.jpg)}
#freelance-logo{background-image:url(#{$images_path}/freelance_logo.png)}
#handcrafted-logo{background-image:url(#{$images_path}/handcrafted_logo.png)}
#email-logo{background-image:url(#{$images_path}/email_logo.png)}
#github-logo{background-image:url(#{$images_path}/github_logo.png)}
#twitter-logo{background-image:url(#{$images_path}/twitter_logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .iphone{background-image:url(#{$images_path}/iphone@2x.png)}
    .appstore-badge{background-image:url(#{$images_path}/appstore_badge@2x.png)}
    .github-badge{background-image:url(#{$images_path}/github_badge@2x.png)}
    #company-brand{background-image:url(#{$images_path}/company_brand_shadow@2x.png)}
    #company-title{background-image:url(#{$images_path}/company_title@2x.png)}
    #jurbly-logo{background-image:url(#{$images_path}/jurbly_icon@2x.png)}
    #jurbly-screenshot{background-image:url(#{$images_path}/jurbly_screenshot@2x.jpg)}
    #chaosclock-logo{background-image:url(#{$images_path}/chaosclock_icon@2x.png)}
    #chaosclock-screenshot{background-image:url(#{$images_path}/chaosclock_screenshot@2x.jpg)}
    #parsnip-logo{background-image:url(#{$images_path}/parsnip_icon@2x.png)}
    #parsnip-screenshot{background-image:url(#{$images_path}/parsnip_screenshot@2x.jpg)}
    #freelance-logo{background-image:url(#{$images_path}/freelance_logo@2x.png)}
    #handcrafted-logo{background-image:url(#{$images_path}/handcrafted_logo@2x.png)}
    #email-logo{background-image:url(#{$images_path}/email_logo@2x.png)}
    #github-logo{background-image:url(#{$images_path}/github_logo@2x.png)}
    #twitter-logo{background-image:url(#{$images_path}/twitter_logo@2x.png)}
}
