
@import "jurbly/variables";
@import "jurbly/../style";


$jurbly_images_path: "#{$images_path}/jurbly";


//-------------------------------------------------------------
// Web Fonts
//-------------------------------------------------------------

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy'), local('LuckiestGuy'), url(#{$icon-font-path}LuckiestGuy.ttf) format('truetype');
  font-display: swap;
}


//-------------------------------------------------------------
// Clouds
//-------------------------------------------------------------

.clouds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
}

.cloud {
    background: #fff;

    width: 25%;

    max-width: 400px;
    max-height: 120px;

    position: absolute;

    @include border-radius(400px);

    .spacer {
        padding-top: 30%;
    }
}

.cloud:before, .cloud:after {
    background: #fff;
    content: '';
    position: absolute;

    @include border-radius(200px);
}

.cloud:before {
    width: 50%;
    padding-top: 40%;

    max-width: 200px;
    max-height: 160px;

    top: -25%;
    left: 5%;

    @include transform(rotate(30deg));
}

.cloud:after {
    width: 60%;
    padding-top: 60%;

    max-width: 240px;
    max-height: 240px;

    top: -92%;
    left: auto;
    right: 7.5%;
}


$cloud_count: 10;
@for $i from 1 through $cloud_count {
    $variance: random(70);
    $left: random(45);
    @if $i % 2 == 0 {
        $left: $left + 45;
        $variance: $variance + 30;
    }
    $top: (80.0 / $cloud_count) * $i;
    $percent: ($left * 0.8) + 20.0;
    $time: 30 - ($variance / 6.667);
    $delay: (1.0 - ($percent / 100.0)) * $time;

    .cloud-#{$i} {
        top: $top * 1%;
        left: $left * 1%;
        opacity: 0.3 + ($variance / 250.0);
        @include transform(scale(0.3 + ($variance / 160.0)));
        @include animation(moveclouds #{$time}s linear -#{$delay}s infinite);
    }
}


@-webkit-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@-moz-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@-o-keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}
@keyframes moveclouds {
    0% { left: 100% }
    100% { left: -25%; }
}


//-------------------------------------------------------------
// Navbar
//-------------------------------------------------------------

.navbar-default {

    background-color: $navbar_transparent;

    .navbar-brand {
        visibility: visible;
        @include opacity(1);
    }

    &.opaque {
        background-color: $navbar_opaque;
    }

    &.expanded {
        @media (max-width: $screen-sm-max) {
            background-color: $navbar_opaque;
        }
    }
}


//-------------------------------------------------------------
// Contact
//-------------------------------------------------------------

#contact {
    a {
        color: #333467;
    }
}


//-------------------------------------------------------------
// Home
//-------------------------------------------------------------

#home {
    padding: 100px 0;

    background-color: $body-bg;
    @include gradient-vertical($body-bg, $body-bg-bottom);

    h1 {
        font-family: 'Luckiest Guy', $font-family-sans-serif;
        font-size: 5.8em;
        font-variant: small-caps;
        @include text-shadow(0.05em 0.05em 0 $text-shadow-color);

        @media (min-width: $screen-xs-min) {
            font-size: 7em;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 8.5em;
        }

        margin-top: 0;

        @media (min-width: $screen-md-min) {
            margin-top: #{$iphone_bezel_height}px;
        }
    }

    .description {
        font-size: 1.3em;
        margin: 10px 0 25px;

        @include text-shadow(1px 1px 0 $text-shadow-color);

        a {
            @include text-shadow(none);
        }

        p, ul {
            margin: 0 0 15px;
        }

        ul {
            display: inline-block;
            list-style: none;

            li {
                text-align: left;
            }

            li:before {
                content: '\2605';
                margin-right: 0.5em;
            }
        }
    }

    .badge-container {
        margin: 40px auto 0 auto;

        @media (min-width: $screen-md-min) {
            margin: -#{$iphone_bezel_height + $badge_height}px 0 #{$iphone_bezel_height + $badge_height}px 0;
        }
    }
}


//-------------------------------------------------------------
// Privacy
//-------------------------------------------------------------

#privacy {
    @include box-shadow(0 80px 40px -80px rgba(0, 0, 0, 0.5) inset);
}


//-------------------------------------------------------------
// Retina images
//-------------------------------------------------------------

.iphone-screen{background-image:url(#{$jurbly_images_path}/screenshot01.png)}
.appstore-badge{background-image:url(#{$jurbly_images_path}/appstore_badge.png)}
#email-logo{background-image:url(#{$jurbly_images_path}/email_logo.png)}
#github-logo{background-image:url(#{$jurbly_images_path}/github_logo.png)}
#twitter-logo{background-image:url(#{$jurbly_images_path}/twitter_logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    .iphone-screen{background-image:url(#{$jurbly_images_path}/screenshot01@2x.png)}
    .appstore-badge{background-image:url(#{$jurbly_images_path}/appstore_badge@2x.png)}
    #email-logo{background-image:url(#{$jurbly_images_path}/email_logo@2x.png)}
    #github-logo{background-image:url(#{$jurbly_images_path}/github_logo@2x.png)}
    #twitter-logo{background-image:url(#{$jurbly_images_path}/twitter_logo@2x.png)}
}
