
@import "parsnip/variables";
@import "parsnip/../main";

$parsnip_images_path: "#{$images_path}/parsnip";


//-------------------------------------------------------------
// Web Fonts
//-------------------------------------------------------------

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(#{$icon-font-path}Lato-Light.ttf) format('truetype');
  font-display: swap;
}


//-------------------------------------------------------------
// Navbar
//-------------------------------------------------------------

.navbar-default {

    background-color: $navbar_transparent;

    .navbar-brand {
        visibility: visible;
        @include opacity(1);
    }

    &.opaque {
        background-color: $navbar_opaque;
    }

    &.expanded {
        @media (max-width: $screen-sm-max) {
            background-color: $navbar_opaque;
        }
    }
}


//-------------------------------------------------------------
// Sections
//-------------------------------------------------------------

.section {
    padding: 100px 0;

    hr {
        background-color: #303030;
        @include gradient-x-three-colors(#000, #303030, 50%, #000);
    }
}


//-------------------------------------------------------------
// Home
//-------------------------------------------------------------

#home {
    background-color: $home_bg_color;

    padding: 100px 0;

    @include text-shadow(1px 1px 0 $text-shadow-color);

    #background-copyright {
        position: absolute;
        bottom: 12px;
        left: 12px;

        display: inline-block;

        color: #fff;
        text-decoration: none;
        font-size: 12px;
    }

    h1 {
        font-family: 'Lato', $font-family-sans-serif;
        font-size: 3em;
        font-weight: 300;
        white-space: nowrap;

        @media (min-width: $screen-xs-min) {
            font-size: 3.5em;
        }

        @media (min-width: $screen-lg-min) {
            font-size: 4.5em;
        }

        margin-top: 0;

        @media (min-width: $screen-md-min) {
            margin-top: #{$iphone_bezel_height}px;
        }
    }

    #parsnip-logo {
        width: 0.8em;
        margin-right: -0.2em;
        vertical-align: -15%;

        .spacer {
            padding-top: 160%;
        }
    }

    .description {
        font-size: 1.3em;
        margin: 10px 0 25px;

        p {
            margin: 0 0 15px;
        }

        ul {
            display: inline-block;

            margin: 0;

            li {
                text-align: left;
            }

            li:before {
                margin-right: 0.5em;
            }
        }
    }

    .iphone {

        .iphone-screen {
            overflow: visible;

            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            cursor: grab;

            .screenshot {
                height: auto;
                width: 100%;

                > .spacer {
                    padding-top: 177.5%;
                }
            }

            .carousel-inner {
                overflow: hidden;
            }

            .carousel-indicators {
                bottom: -25%;
            }
        }
    }

    .badge-container {
        margin: 40px auto 0 auto;

        @media (min-width: $screen-md-min) {
            margin: -#{$iphone_bezel_height + $badge_height}px 0 #{$iphone_bezel_height + $badge_height}px 0;
        }
    }
}

body.grabbing {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;

    #home {
        .iphone {
            .iphone-screen {
                cursor: move;
                cursor: -webkit-grabbing;
                cursor: -moz-grabbing;
                cursor: grabbing;
            }
        }
    }
}


//-------------------------------------------------------------
// Contact
//-------------------------------------------------------------

#contact {

}


//-------------------------------------------------------------
// Footer
//-------------------------------------------------------------

#footer {
    background-color: #303030;
    color: #909090;
}


//-------------------------------------------------------------
// Retina images
//-------------------------------------------------------------

#home{background-image:url(#{$parsnip_images_path}/parsnip_bg.jpg)}
#screenshot01{background-image:url(#{$parsnip_images_path}/screenshot01.jpg)}
#screenshot02{background-image:url(#{$parsnip_images_path}/screenshot02.jpg)}
#screenshot03{background-image:url(#{$parsnip_images_path}/screenshot03.jpg)}
#screenshot04{background-image:url(#{$parsnip_images_path}/screenshot04.jpg)}
#screenshot05{background-image:url(#{$parsnip_images_path}/screenshot05.jpg)}
#parsnip-logo{background-image:url(#{$parsnip_images_path}/parsnip_logo.png)}
#email-logo{background-image:url(#{$parsnip_images_path}/email_logo.png)}
#github-logo{background-image:url(#{$parsnip_images_path}/github_logo.png)}
#twitter-logo{background-image:url(#{$parsnip_images_path}/twitter_logo.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    #screenshot01{background-image:url(#{$parsnip_images_path}/screenshot01@2x.jpg)}
    #screenshot02{background-image:url(#{$parsnip_images_path}/screenshot02@2x.jpg)}
    #screenshot03{background-image:url(#{$parsnip_images_path}/screenshot03@2x.jpg)}
    #screenshot04{background-image:url(#{$parsnip_images_path}/screenshot04@2x.jpg)}
    #screenshot05{background-image:url(#{$parsnip_images_path}/screenshot05@2x.jpg)}
    #parsnip-logo{background-image:url(#{$parsnip_images_path}/parsnip_logo@2x.png)}
    #email-logo{background-image:url(#{$parsnip_images_path}/email_logo@2x.png)}
    #github-logo{background-image:url(#{$parsnip_images_path}/github_logo@2x.png)}
    #twitter-logo{background-image:url(#{$parsnip_images_path}/twitter_logo@2x.png)}
}
