
html, body {
    background-color: #000;
    font-size: 16px;
}

.container {
    max-width: 768px;
}

table.day-of-discord {

    tr {
        border: 1px solid #303030;

        td {
            padding: 0.5em;
        }
    }
}

.discordian-calendar, .discordian-clock {
    padding-bottom: 2em;

    h1 {
        font-size: 2.1em;
        margin: 1em 0 0.5em 0;

        span {
            font-size: 0.85em;
        }
    }

    h2 {
        font-size: 1.75em;

        i {
            display: block;
            font-size: 0.75em;
            font-style: italic;
            padding-left: 0.5em;
            padding-top: 0.5em;
        }
    }

    h3 {
        font-size: 1.4em;
    }

    .chaosclock-logo {
        display: none;
    }

    .glyphicon {
        display: inline-block;
        vertical-align: 0;
    }

    .glyphicon-calendar:before,
    .glyphicon-time:before {
        content: '';
    }
}
